registry=https://registry.npmjs.org/
@zzf:registry=http://113.31.126.209:8081/repository/npm-group/
//113.31.126.209:8081/repository/npm-group/:username=install
//113.31.126.209:8081/repository/npm-group/:_password=aW5zdGFsbA==
email=install@install.com
