registry=https://registry.npmjs.org/
@zzf:registry=http://212.129.237.18:8081/repository/npm-hosted/
//212.129.237.18:8081/repository/npm-hosted/:username=zzf
//212.129.237.18:8081/repository/npm-hosted/:_password=enpm
email=zzf@zzf.com
