.container {
  height: 50vh;
  width: 50vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ddd;
}
.content {
  padding: 20px;
}
.btn {
  position: absolute;
  padding-bottom: 10px;
  bottom: 0;
  text-align: center;
  width: 100%;
  cursor: default;
}
