.code {
  position: relative;

  .action {
    &::before {
      width: 100px;
      content: attr(lang);
      height: 15px;
      background: url('/static/img/img-7.png') no-repeat;
      background-size: 40px;
      display: block;
      margin-bottom: 5px;
    }

    font-size: 13px;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;

    a {
      &::before {
        cursor: default;
        color: #8c8c8ccc;
        display: inline-block;
        content: attr(lang);
        margin-right: 5px;
      }
    }
  }
}