.code {
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  line-height: 1.5;

  .action {
    position: absolute;
    top: -30px;
    right: 25px;
    font-size: 18px;
    color: var(--color-gray-700);
    background-color: var(--color-overlay-bg);
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 8px 8px 0 0;
  }
}
