
.nav{
  list-style: circle;
  padding: 0 5px;
  color:var(--color-text-primary);
  .navItem{
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 2px;
    cursor: pointer;
    &:hover{
      color: var(--color-text-link);
    }
  }

}
.active{
  font-weight: 700;
  color: var(--color-text-link);
}
