.nav {
  padding: 0 5px;
  color: var(--color-secondary);

  .navItem {
    width: 150px;
    padding: 2px;

    a {
      color: var(--color-text-primary);
    }
  }

  .active {
    a {
      font-weight: 700;
      color: var(--color-text-success);
    }
  }
}


