.card{
  color: var(--color-secondary);
  background: var(--color-secondary-bg);
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px dashed #ccc;
  font-size:14px;
  :global{
    em{
      font-style: normal;
      color: var(--color-brand);
      font-weight: 700;
    }
  }
  .time{
    font-size: 12px;
    color: #ccc;
  }
  h3{
    font-size: 18px;
    color: var(--color-secondary);
    .title{
      cursor: pointer;
    }
  }
  ul{
    margin-top: 5px;
    list-style: none;
    display: flex;
    align-items: center;
    li{
      width: 100px;
      .num{
        font-size: 12px;
      }
    }
  }
}
