.card {
  color: var(--color-text-info);
  background: var(--color-bg-primary);
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px dashed #ccc;
  font-size: 14px;
  :global {
    em {
      font-style: normal;
      color: var(--color-text-secondary);
      font-weight: 600;
    }
  }
  .time {
    font-size: 12px;
    color: #ccc;
  }
  ul {
    margin-top: 5px;
    list-style: none;
    display: flex;
    align-items: center;
    li {
      width: 100px;
      .num {
        font-size: 12px;
      }
    }
  }
}
