@import "src/styles/variable";
.card{
  color: $color-text-secondary;
  background: $color-bg-primary;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px dashed #ccc;
  font-size:14px;
  :global{
    em{
      font-style: normal;
      color: $color-text-link;
    }
  }
  .time{
    font-size: 12px;
    color: #ccc;
  }
  h3{
    font-size: 18px;
    color: $color-text-primary;
    .title{
      cursor: pointer;
    }
  }
  ul{
    margin-top: 5px;
    list-style: none;
    display: flex;
    align-items: center;
    li{
      width: 100px;
      .num{
        font-size: 12px;
      }
    }
  }
}
