$main-width:960px;
.header {
  height: 60px;
  width: 100%;
  background: #1c2433;
  font-size: 1.2rem;
  &_main{
    width:$main-width;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
    @media (max-width: 960px) {
      width: 95%;
    }

    @media (min-width: 960px) {
      width: $main-width;
    }
    .logo {
      height: 80%;
      cursor: pointer;
      transition: .3s;
      &:hover{
        transform: scale(1.08);
      }
    }
    a{
      color: #fdbf2e;
      cursor: pointer;
      position: relative;
      margin:0 10px 0 5px;
      transition: .3s;
      &:hover{
        color: #3baafa;
      }
    }
  }
}

.main {
  margin: auto;
  position: relative;
  @media (max-width: 960px) {
    max-width: 100%;
  }
  @media (min-width: 960px) {
    width: $main-width;
  }
}

.footer {
  background: #26282c;
  color: #ffffffb3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
