$main-width:1000px;
.header {
  width: 100%;
  background: #fff;
  &_main{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    @media (max-width: 768px) {
      width: 95%;
    }

    @media (min-width: 768px) {
      width: $main-width;
    }
    .logo {
      height: 80%;
      cursor: pointer;
      transition: .3s;
      &:hover{
        transform: scale(1.08);
      }
    }
    a{
      margin:0 10px 0 5px;
    }
  }
}

.main {
  @media (max-width: 768px) {
    width: 100%;
  }

  @media (min-width: 768px) {
    width: $main-width;
  }
  min-height: calc(100vh - 175px);
  margin: 13px auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: #fff;
}

.footer {
  background: #26282c;
  color: #ffffffb3;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
