@import "variable";

.header {
  height: 60px;
  width: 100%;
  background: $bg-color;
  font-size: 1.2rem;
  opacity: 0.8;
  border-bottom: 1px solid #ddd;

  &_main {
    width: $main-width;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
    @media (max-width: 960px) {
      width: 95%;
    }

    @media (min-width: 960px) {
      width: $main-width;
    }

    .logo {
      cursor: pointer;
      transition: .3s;
      height: 80%;
      &:hover {
        transform: scale(1.08);
      }
    }

    a {
      color: $primary-color;
      cursor: pointer;
      position: relative;
      margin: 0 10px 0 5px;
      transition: color .3s;
      text-decoration: none;
      line-height: 60px;
      display: inline-block;
      height: 60px;
      &:hover {
        color: #3baafa;
        border-bottom: 3px solid #3baafa;
      }
    }
  }
}

.main {
  margin: auto;
  position: relative;
  min-height: calc(100vh - 164px);
  @media (max-width: 960px) {
    max-width: 100%;
  }
  @media (min-width: 960px) {
    width: $main-width;
  }
}

.footer {
  background: #26282c;
  color: #ffffffb3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.lg {
  @media (max-width: $main-width) {
    display: none;
  }
  @media (min-width: $main-width) {
  }
}

.sm {
  @media (max-width: $main-width) {

  }
  @media (min-width: $main-width) {
    display: none;
  }
}
.mask{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.8);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  a{
    color: #fff;
    font-size: 2rem;
  }
}
