@import "variable";
.archiveWrap {
  width: 100%;
  margin: auto;
  font-size: 1.2rem;
  padding: 10px 0;

  header {
    border: 1px solid #c8e1ff;
    background: #f1f8ff;
    color: #24292e;
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 16px;
  }
}

.timeLine {
  position: relative;

  &::before {
    content: '';
    background: #f5f5f5;
    width: 6px;
    height: 100%;
    position: absolute;
    left: 10px;
  }
}

.title {
  margin: 30px;
  position: relative;

  &::before {
    content: '';
    border-radius: 50%;
    height: 6px;
    width: 6px;
    background: #bbb;
    position: absolute;
    left: -20px;
    top: 8px;
    border: 1px solid #bbb;
  }
}

.item {
  margin-left: 10px;
  padding-left: 10px;
  position: relative;
  height: 26px;
  line-height: 26px;

  &::before {
    content: '';
    border-radius: 50%;
    height: 6px;
    width: 6px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 10px;
    border: 1px solid #bbb8b8;
  }

  &:hover {
    background: rgba(0, 0, 0, .1);

    &::before {
      background: #49b1f5;
    }
  }
}
.subTitle{
  color:$color-text-primary
}
