.archiveWrap {
  width: 100%;
  margin: auto;
  font-size: 1.2rem;
  padding: 10px 0;

  header {
    border: 1px solid var(--color-border-primary);
    background: var(--color-bg-secondary);
    color: var(--color-text-info);
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 16px;
  }
}

.timeLine {
  position: relative;

  &::before {
    content: '';
    background: var(--color-bg-secondary);
    width: 8px;
    height: 100%;
    position: absolute;
    left: 0;
  }
}

.tabList {
  display: flex;

  .underlineNavItem {
    flex: 1;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 30px;
    color: var(--color-text-info);
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid transparent;
  }

  .underlineNavItem[role='tab'][aria-selected='true'] {
    font-weight: 600;
    color: var(--color-text-brand);
    border-bottom-color: var(--color-border-brand);
    outline: 1px dotted transparent;
    outline-offset: -1px;
  }
}

.menu {
  margin-bottom: 16px;
  list-style: none;
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-border-primary);
  border-radius: 6px;

  &Item {
    position: relative;
    display: block;
    padding: 8px 16px;
    color: var(--color-text-info);
    border-bottom: 1px solid var(--color-border-primary);

    .counter {
      display: inline-block;
      min-width: 20px;
      padding: 0 6px;
      font-weight: 500;
      line-height: 18px;
      color: var(--color-text-brand);
      text-align: center;
      background-color: var(--color-bg-primary);
      border: 1px solid transparent;
      border-radius: 2em;
      float: right;
      margin-left: 4px;
    }
  }
}

.title {
  color: var(--color-text-brand);
  margin: 20px;
  position: relative;

  &::before {
    content: '';
    border-radius: 50%;
    height: 6px;
    width: 6px;
    background: #bbb;
    position: absolute;
    left: -20px;
    top: 8px;
    border: 1px solid #bbb;
  }
}

.item {
  margin-left: 10px;
  position: relative;
  height: 26px;
  line-height: 26px;

  &::before {
    content: '';
    border-radius: 50%;
    height: 6px;
    width: 6px;
    background: #fff;
    position: absolute;
    left: -10px;
    top: 10px;
    border: 1px solid #bbb8b8;
  }

  &:hover {
    color: var(--color-text-brand);
    background: var(--color-bg-brand);

    &::before {
      background: var(--color-bg-brand);
    }
  }
}

.subTitle {
  color: var(--color-text-brand);
}
