.detail {
  width: 100%;
  font-size: 1.1rem;
  position: relative;
  padding: 10px 0;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;

  .article {
    .tip {
      color: var(--color-text-secondary);
      padding: 20px 0;
      overflow: hidden;
      font-size: 14px;
      line-height: 20px;
      vertical-align: middle;
      list-style: none;
      display: flex;
      @media (max-width: 768px) {
        flex-flow: column;
      }

      li {
        margin-right: 20px;

        span {
          &::after {
            content: ':';
          }
        }
      }
    }

    .content {
      ul {
        list-style-type: disc;
      }

      ol {
        list-style-type: decimal;
      }

      a {
        color: var(--color-text-link);
        text-decoration: underline;
      }
    }
  }

  .icon {
    margin: 50px auto 0;
    cursor: pointer;

    &:hover {
      color: #f26d5f !important;
    }
  }
}
