@import "variable";
.detail {
  margin: 2rem 0;
  position: relative;
  box-sizing:border-box;
  font-size:1.1rem;
  overflow:hidden;
  :global {
    .active {
      color: #52c41a;
    }
  }
  .left{
    position: relative;
    @media (max-width: 768px) {
      width:100%;
    }
    @media (min-width: 768px) {
      width:700px;
    }
  }
.nav{
  @media (max-width: 768px) {
    display: none;
  }
  @media (min-width: 768px) {
    float: right;
    width: 30%;
  }

}
  .title {
    width: 100%;
    margin: auto;
    padding: 140px 0 20px 30px;
    background: rgb(0, 59, 92);

    h1 {
      font-family: japanese;
      font-size: 2.0736rem;
      line-height: 1.2;
      color: #fff;
      text-shadow: 1px 1px #333;
      margin-bottom: 12px;
    }
  }

  .tip {
    color: $font-color;
    padding: 20px 30px;
    background-color: $bg-color;
    overflow: hidden;
    margin: 0 auto 16px;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;

    ul {
      list-style: none;
      display: flex;
      @media (max-width: 768px) {
        flex-flow: column;
      }

      li {
        margin-right: 20px;

        span {
          &::after {
            content: ':';
          }
        }
      }
    }
  }

  .content {
    @media (max-width: 768px) {
      padding: 10px;
    }
    @media (min-width: 768px) {
      padding: 20px;
    }
    background: $bg-color;
    margin: auto;
  }
}
.sidebar{
  width: 20rem;
  position: absolute;
  right: 0;
}
