@import '~@zzf/design/dist/theme.scss';

:root {
  margin-left: calc(100vw - 100%);
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei,
    Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-weight: var(--font-weight-light);
  color: var(--color-text-0);
  background-color: var(--color-bg-0);
}

html {
  word-break: break-all;
  scroll-behavior: smooth;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

:root,
[data-color-mode='light'] {
  @include colors-light;
}

[data-color-mode='dark'] {
  @include colors-dark;
}

@media (prefers-color-scheme: light) {
  [data-color-mode='auto'] {
    @include colors-light;
  }
}

@media (prefers-color-scheme: dark) {
  [data-color-mode='auto'] {
    @include colors-dark;
  }
}
