@import 'prism.css';
@import '~@oc/design/dist/theme.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .icon-fill-1 {
    font-variation-settings: 'FILL' 1, 'wght' 600 !important;
  }
}
@font-face {
  font-family: 'JetBrainsMono';
  font-display: swap;
  src: url(https://cdn.zzfzzf.com/assets/JetBrainsMono-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.zzfzzf.com/assets/Material%2BSymbols%2BOutlined.woff2) format('woff2');
}

body {
  font-size: 16px;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  //overflow-y: scroll;
  @apply font-sans;
}
html {
  word-break: break-all;
  scroll-behavior: smooth;
}
//body {
//  font-size: 13px;
//}


em {
  color: var(--md-sys-color-primary);
}
