@import '~@zzf/design/dist/theme.scss';

html {
  font-size: 16px;
  font-family: Georgia, -apple-system, 'Nimbus Roman No9 L', 'PingFang SC', 'Hiragino Sans GB', 'Noto Serif SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'ST Heiti', sans-serif;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

:root {
  @include font;
}

:root,
[data-color-mode='light'] {
  @include colors-light;
}

[data-color-mode='dark'] {
  @include colors-dark;
}

@media (prefers-color-scheme: light) {
  [data-color-mode='auto'] {
    @include colors-light;
  }
}

@media (prefers-color-scheme: dark) {
  [data-color-mode='auto'] {
    @include colors-dark;
  }
}
