.item{
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 27px 15px 12px;
  color: #333;
  display: inline-block;
  width: 100%;
  .hot{
    color: #f26d5f;
    font-weight: 700;
  }
  .num{
    color: #a9a9a9;
    font-size: 12px;
    margin-left: 10px;
  }
  .tag{
    float: right;
    color: #f26d5f;
    font-weight: bolder;
  }
}
