
.markdown-body {
  color: var(--color-text-primary);
  p{
    color: var(--color-text-primary);
    line-height:2;
    display: inline-block;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
    color: var(--color-scale-orange-4);
  }

  h1 {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 0;
  }
  @for $i from 2 through 6{
    h#{$i} {
      font-size: 1.6-($i - 1)*0.2rem;
    }
  }
  ol {
    list-style: decimal inside;
  }

  ul {
    list-style: disc inside;
  }
  li{
    line-height:2;
  }
  a{
    color: var(--color-scale-orange-5);
    border-bottom: 1px solid var(--color-scale-orange-5);
    font-weight: 400;
    text-decoration: none;
  }
  code{
    word-break: break-word;
    border-radius: 2px;
    overflow-x: auto;
    background-color: var(--color-scale-gray-1);
    color: var(--color-scale-orange-6);
    font-size: .87em;
    padding: .065em .4em;
  }
  pre{
    background-color: var(--color-scale-gray-6);
    >code{
      background-color: var(--color-scale-gray-6);
      color: var(--color-scale-gray-0);
      padding:15px 12px;
      overflow-x: auto;
      display:block;
    }
  }
  blockquote{
    color: #666;
    padding: 5px 23px 1px;
    margin: 22px 0;
    border-left: 4px solid var(--color-scale-orange-5);
    background-color: hsla(0,0%,78.4%,.12);
    transition: all .2s ease-in-out;
  }
  strong{
    color: var(--color-scale-orange-6)
  }
  .markdown-table{
    width:100%;
    overflow-x: auto;
  }
  table{
    th{
      white-space: nowrap;
      padding:6px 13px;
      border:1px solid #ddd;
    }
    td{
      white-space: nowrap;
      padding:6px 13px;
      border:1px solid #ddd;
    }
  }
}
