@font-face {
  font-family: 'JetBrainsMono';
  font-display: swap;
  src: url('https://oss-zzf.zzfzzf.com/cdn/JetBrainsMono-Regular.woff2');
}

.markdown-body {
  font-size: 16px;
  color: var(--color-text-0);

  p {
    color: var(--color-text-0);
    line-height: 2;
    display: inline-block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: -60px 0 10px;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
    color: var(--color-text-1);
    padding-top: 80px;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      font-size: 1.6 - ($i - 1) * 0.2rem;
    }
  }

  ol {
    padding-left: 20px;
    list-style: decimal inside;
  }

  ul {
    padding-left: 20px;
    list-style: disc inside;
  }

  li {
    line-height: 2;
  }

  a {
    color: var(--color-link);
    font-weight: var(--font-weight-medium);
    text-decoration: none;
    transition: box-shadow 200ms ease 0s;

    &:hover {
      color: var(--color-link-hover);
    }
  }

  code {
    font-family: 'JetBrainsMono', monospace;
    word-break: break-word;
    border-radius: 3px;
    overflow-x: auto;
    background-color: var(--color-bg-1);
    color: var(--color-text-2);
    padding: 0.065em 0.4em;
  }

  pre {
    margin: 40px 0;
    > code {
      background-color: var(--color-fill-0);
      color: var(--color-text1);
      padding: 15px 12px;
      overflow-x: auto;
      display: block;
    }
  }

  blockquote {
    color: var(--color-fill-1);
    padding: 5px 23px 1px;
    margin: 22px 0;
    border-left: 4px solid var(--color-border-brand);
    background-color: var(--color-bg-code);
    transition: all 0.2s ease-in-out;
  }

  strong {
    color: var(--color-text-brand-primary);
  }

  .markdown-table {
    width: 100%;
    overflow-x: auto;
  }

  table {
    margin: 20px 0;

    th,
    td {
      padding: 6px 13px;
      border: 1px solid var(--color-text-1);
    }
  }
}
