.markdown-nav{
  @media(max-width:960px){
    display: none;
  }
  background: #fff;
  position: fixed;
  top: 10rem;
  width: inherit;
  font-size: 12px !important;
  text-overflow: ellipsis;
  white-space:nowrap;
  .title-anchor{
    margin: 0.4em !important;
  }
}
.markdown-template {
  color: #595959;
  a {
    text-decoration: none;
    color: #40b8fa;
    border-bottom: 1px solid #3baafa;
  }
  strong {
    color: #3594f7;
    font-weight: 700;
  }
  img {
    cursor: zoom-in;
    max-width: 100%;
    margin: 0 auto 20px;
    box-sizing: border-box;
    padding: 3px;
  }
  h1,
  h4,
  h5,
  h6 {
    color: #40b8fa;
    &::before {
      content: '📌';
      display: inline-block;
      margin-right: 10px;
    }
    transition: .2s;
  }
  h2{
    color: #40b8fa;
    position: relative;
    padding-left: 16px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    border-bottom: 1px solid #ececec;
    &:before{
      content: "「";
      position: absolute;
      top: -6px;
      left: -10px;
    }
    &:after{
      content: "」";
      position: absolute;
      top: 6px;
      right: auto;
    }
  }
  h3{
    color: #40b8fa;
    position: relative;
    padding-bottom: 0;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.5;
    color: #005bb7;
    padding-left: 6px;
    &:before{
      content: "»";
      padding-right: 6px;
      color: #2196f3;
    }
  }
  code {
    padding: 0.065em 0.4em;
    word-wrap: break-word;
    color: #3594f7;
    background: #3baafa1a;
    border-radius: 3px;
    font-size: 13px;
  }
  pre {
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
    font-size: 13px;
    color: #cfd2d1;
    background: #151718;
    line-height: 1.6;
    overflow: auto;

    code {
      color: #cfd2d1;
      background: transparent;
    }
  }
  ul {
    padding-left: 20px;
    li {
      line-height: 2;
      list-style: circle;
    }
  }
  blockquote {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid rgba(64, 184, 250, 0.4);
    background: rgba(64, 184, 250, 0.1);
    border-radius: 6px;
    &::after {
      display: block;
      content: '';
    }
    p {
      color: #595959;
      padding: 8px;
      font-size: 14px;
      line-height: 26px;
      margin: 0;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    width: 100%;
    overflow: auto;
    word-break: keep-all;
    margin-bottom: 10px;
    thead{
      tr{
        background: #F8F8F8;
      }
    }
    th{
      padding: 6px 13px;
      border: 1px solid #ddd;
    }
    tr{
      background-color: #fff;
      border-top: 1px solid #ccc;
    }
    td{
      padding: 6px 13px;
      border: 1px solid #ddd;
    }
  }

  ol {
    list-style: decimal;
    margin: 0;
    padding-left: 20px;
  }
}
