.box-responsive{
  max-width: 1280px;
  @media (max-width: 767.98px) {
    padding: 0 16px;
  }
  @media (min-width: 768px) and (max-width: 1011.98px) {
    padding: 0 24px;
  }
  @media (min-width: 1012px) {
    padding: 0 32px;
  }
}
.box-responsive-main{
  @media (max-width: 767.98px) {
    padding: 0 8px;
  }
  @media (min-width: 768px) and (max-width: 1011.98px) {
    padding: 0 24px;
  }
  @media (min-width: 1012px) {
    padding: 0 16px;
  }
}
.box-responsive-slider{
  @media (max-width: 767.98px) {
    padding: 0 8px;
  }
  @media (max-width: 1011.98px) {
    padding: 0 8px;
  }
  @media (min-width: 1012px) {
    padding: 0 16px;
  }
}
