.box-responsive{
  @media (max-width: 767.98px) {
    width: 100%;
  }
  @media (min-width: 768px) and (max-width: 958.98px) {
    width: 100%;
  }
  @media (min-width: 960px) {
    max-width: 960px;
  }
}
.box-responsive-main{
  @media (min-width: 768px) and (max-width: 958.98px) {
    width: 100%;
  }
  @media (min-width: 960px) {
    width: 700px;
  }
}
.box-responsive-slider{
  @media (max-width: 958.98px) {
    display: none;
  }
  @media (min-width: 960px) {
    width: 240px;
  }
}
