
.search {
  color: var(--color-secondary);
  padding: 10px 0;
  form{
    display: flex;
  }
  .ipt {
    flex: 1;
  }

}
.result{
  background-color: var(--color-secondary-bg);
  padding: 10px;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
}
.no,.searchResult{
  color: var(--color-secondary);
}
