@import "src/styles/variable";

.search {
  color: $color-text-primary;
  //flex-direction: column;
  //align-items: center;
  padding: 10px 0;
  //justify-content: center;
  form{
    display: flex;
  }
  .ipt {
    flex: 1;
    color: $color-text-primary;
    height: 46px;
    border-radius: 6px;
    line-height: 46px;
    box-sizing: border-box;
    background-color: var(--color-input-bg);
    border: 1px solid var(--color-input-border);
    box-shadow:var(--color-shadow-inset) ;
    padding: 12px;
    font-size: 14px;
    outline: none;
    &:focus{
      border-color: var(--color-state-focus-border);
      box-shadow: var(--color-state-focus-shadow);
    }
  }

}
.result{
  padding: 10px;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
}
.no,.searchResult{
  color: $color-text-primary;
}
