@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #1b95e0;
    --bg-color: #fff;
    --font-color: #111;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #1b95e0;
    --bg-color: #1a1919;
    --font-color: #fff;
  }
}
