@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #1b95e0;
    --bg-color: rgba(250, 250, 250, .8);
    --font-color: #303030;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #1b95e0;
    --bg-color: #303030;
      --font-color: #fff;
  }
}
