.theme{
  padding: 20px 0;
  display: flex;
  font-size: 14px;
  .themeItem{
    cursor: pointer;
    user-select: none;
    border: 1px solid var(--color-border-primary);
    color: var(--color-text-primary);
    padding: 5px 16px;
    font-weight: 500;
    line-height: 20px;
    margin-left: -1px;
    &:first-child{
      border-top-left-radius:6px;
      border-bottom-left-radius:6px
    }
    &:last-child{
      border-top-right-radius:6px;
      border-bottom-right-radius:6px
    }
  }
  .active{
    background-color: var(--color-state-selected-primary-bg);
    border-color: var(--color-state-selected-primary-border);
    color: var(--color-state-selected-primary-text);
  }
  .inactive{
    &:hover{
      background-color: var(--color-bg-tertiary);
      color: var(--color-text-primary);
    }
  }
}