$min-height: calc(100vh - 64px - 90px);
$color-bg-canvas: var(--color-bg-canvas);
$color-header-bg: var(--color-header-bg);
$color-header-logo: var(--color-header-logo);
$color-border-primary: var(--color-border-primary);
$color-text-primary: var(--color-text-primary);
$color-text-secondary: var(--color-text-secondary);
$color-text-link: var(--color-text-link);