$min-height: calc(100vh - 64px - 90px);
$color-header-bg: var(--color-header-bg);
$color-header-logo: var(--color-header-logo);
$color-bg-canvas: var(--color-bg-canvas);
$color-bg-primary: var(--color-bg-primary);
$color-border-primary: var(--color-border-primary);
$color-text-primary: var(--color-text-primary);
$color-text-secondary: var(--color-text-secondary);
$color-text-link: var(--color-text-link);
$color-state-selected-primary-bg: var(--color-state-selected-primary-bg);
$color-state-selected-primary-text: var(--color-state-selected-primary-text);
$color-counter-bg: var(--color-counter-bg);


