.menu {
    display: flex;
    align-items: center;
    font-size: 16px;

    a {
      padding: 5px;
      color: inherit;
      transition: 0.3s;
      position: relative;
      text-align: center;
      &:before {
        content: '';
        height: 2px;
        width: 100%;
        background-color: var(--color-text-primary);
        position: absolute;
        left: 0;
        bottom: 0;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
      }
      &:hover {
        &:before {
          visibility: visible;
          transform: scaleX(1);
        }
        color: var(--color-text-primary);
      }

      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }

.dropdown {
  background: var(--color-bg-primary);
  padding: 0 16px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: var(--color-text-info);
  position: sticky;
  top: 60px;
  z-index: 999;

  a {
    border-top: 1px solid #e1e4e8;
    display: block;
    height: 38px;
    line-height: 38px;
    box-sizing: border-box;
    width: 100%;
    color: inherit;
    transition: 0.3s;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      color: var(--color-text-brand-primary);
    }
  }
}
