.header {
  height: 60px;
  background: var(--color-secondary-bg);
  color: var(--color-primary);
  font-weight: 600;


  .menu {
    display: flex;
    align-items: center;
    font-size: 16px;

    a {
      padding: 5px;
      color: inherit;
      transition: .3s;

      &:hover {
        color: var(--color-hover);
      }

      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }

}

.dropdown {
  background: var(--color-secondary-bg);
  padding: 0 16px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: var(--color-secondary);

  a {
    border-top: 1px solid #e1e4e8;
    display: block;
    height: 38px;
    line-height: 38px;
    box-sizing: border-box;
    width: 100%;
    color: inherit;
    transition: .3s;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      color: var(--color-main-bg);
    }
  }
}
//.logo {
//  filter: invert(100%);
//}
//@media (prefers-color-scheme: dark) {
//  .logo {
//    filter: invert(0);
//  }
//}
