@import "src/styles/variable";
.header {
  background: $color-header-bg;
  color: $color-header-logo;
  font-weight: 600;
  .headerMain {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

    ul {
      display: flex;
      align-items: center;
      font-size: 16px;

      a {
        padding: 5px;
        color: inherit;
        transition: .3s;

        &:hover {
          color: $color-header-text;
        }
      }

      li + li {
        margin-left: 20px;
      }
    }
  }
  .select {
    padding:0 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    li {
      width: 100%;
      border-top: 1px solid #e1e4e8;
      a {
        display: block;
        height: 38px;
        line-height: 38px;
        box-sizing: border-box;
        width: 100%;
        color: inherit;
        transition: .3s;
        text-decoration: none;
        font-weight: 600;

        &:hover {
          color: $color-header-text;
        }
      }
    }
  }
}
