.header{
  background: rgba(0,0,0,.6);
  .header_main{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    .img{
      cursor: pointer;
      &:hover{
        transform: scale(1.1);
      }
    }
    ul{
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 16px;
      a{
        padding: 5px;
        color: #fff;
        transition: .3s;
        &:hover{
          background: #e1e1e1;
          color: rgba(0,0,0,.6);
        }
      }
      li+li{
        margin-left: 20px;
      }
    }
  }
}
