.theme {
  position: relative;

  summary {
    cursor: pointer;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  .dropdown {
    z-index: 1;
    background: var(--color-bg-inverse);
    color: var(--color-text-inverse);
    position: absolute;
    width: 80px;
    right: 0;
    border-radius: 8px;
    text-align: center;

    li {
      height: 25px;
      line-height: 25px;
      cursor: pointer;
    }

    .active {
      color: var(--color-text-brand);
    }
  }
}
