.theme {
  position: relative;

  summary {
    cursor: pointer;
    font-size: 14px;
    list-style: none;

    &::-webkit-details-marker {
      display: none
    }
  }

  .dropdown {
    z-index: 1;
    background: var(--color-header-bg);
    color: var(--color-header-text);
    position: absolute;
    width: 80px;
    right: 0;
    border-radius: 8px;
    text-align: center;
    border: 1px solid var(--color-header-bg);

    li {
      height: 25px;
      line-height:25px;
      cursor: pointer;
    }

    .active {
      background: var(--color-state-hover-primary-bg);
      color: var(--color-state-hover-primary-text);
    }
  }
}
