@import "src/styles/variable";
.footer{
  height: 90px;
  //background: $color-header-bg;
  color: $color-header-text;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  .friends{
    color: $color-state-selected-primary-text;
  }
}
