.footer{
  height: 90px;
  //background: $color-header-bg;
  color: var(--color-main-bg);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  .friends{
    color: var(--color-brand);
  }
}
