@import "src/styles/variable";
.page{
  text-align: center;
  margin: 20px 0;
  .pageItem{
    margin-right: 8px;
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    color: $color-text-secondary;
    user-select: none;
    &:hover{
      background: $color-text-link;
      color: $color-state-selected-primary-text;
    }
  }
  .active{
    background: $color-state-selected-primary-bg;
    color: $color-state-selected-primary-text;
  }
}