.theme {
  &:hover {
    label {
      display: block;
    }
  }

  input {
    display: none;

    & + label {
      cursor: pointer;
      transition: 0.5s ease-in-out;
      display: none;
      margin-left: 10px;
    }

    &:checked {
      & + label {
        display: block;
        color: var(--color-text-brand);
      }
    }
  }
}
