.theme {
  input {
    display: none;

    & + label {
      cursor: pointer;
      transition: 0.5s ease-in-out;
    }

    &:checked {
      & + label {
        display: block;
        color: var(--color-text-brand-primary);
      }
    }
  }
}
.dropdown{
  right: 0;
  background-color: var(--color-bg-3);
  box-shadow: var(--shadow-elevated);
  border-radius: var(--border-radius-medium);
  transform: translate3d(0,10%,0);
}
