.theme {

  input {
    display: none;

    & + label {
      cursor: pointer;
      transition: 0.5s ease-in-out;
    }

    &:checked {
      & + label {
        display: block;
        color: var(--color-text-brand);
      }
    }
  }
}
