.menu {
  align-items: center;
  font-size: 16px;

  a {
    color: var(--primary-text);
    padding: 5px;
    transition: 0.3s;
    position: relative;
    text-align: center;
    &:before {
      content: '';
      height: 2px;
      width: 100%;
      background-color: var(--accent);
      position: absolute;
      left: 0;
      bottom: -8px;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }
    &:hover {
      background-color: var(--hover-overlay);
      border-radius: 8px;
      &:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }

    &:not(:last-child) {
      margin-right: 16px;
    }
    &.active {
      color: var(--accent);
      &:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
}
