.menu {
  align-items: center;
  font-size: 16px;

  a {
    padding: 5px;
    transition: 0.3s;
    position: relative;
    text-align: center;
    &:before {
      content: '';
      height: 2px;
      width: 100%;
      background-color: var(--color-primary-3);
      position: absolute;
      left: 0;
      bottom: 0;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }
    &:hover {
      &:before {
        visibility: visible;
        transform: scaleX(1);
      }
      color: var(--color-primary-4);
    }

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
  .active {
    color: var(--color-primary-4);
    &:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}
